BACKEND_URL=http://localhost:3000/
# This is the environment in which this Node app will run. For localhost setup it is local.
NODE_ENV=local
# This is a domain that will prefix the shorturl random string the the app generates. Using the default, a full url will look like https://link.gov.bc.ca/a-random-string.
CUSTOM_DOMAIN=https://link.gov.bc.ca
# This is where mongodb is hosted. For local setup it is hosted in localhost.
MONGODB_HOST=localhost
# Name of database. This is set when creating the mongodb database in local.
MONGODB_DATABASE=mongodb
# The port for database. This is a default port for mongodb.
MONGODB_PORT=27017
